# Code owners for estamora-contracts

*                                              @winningtalker-commits
/contracts/                                    @winningtalker-commits
/deployments/                                  @winningtalker-commits
/Cargo.toml                                    @winningtalker-commits
/SECURITY.md                                   @winningtalker-commits
